.tm-nav li a {
	color: #b7b7b7;
	display: block;
	padding: 45px 15px 15px 15px;
	text-transform: uppercase;
	transition: all 0.3s ease;
}

.form-checkbox {border-radius: 0;}
.form-checkbox:hover {
  border-color: #FCDD44;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(252, 221, 68, 0.6);
}

.tm-home-box-1 {
	width: auto;
	height: auto;
}

.tm-drink-icon-1 {
  padding: 2% 2%;
}
.icon-container {
  width: 6%;
  height: 6%;
}

.tm-details-1 {
  padding: 4%;
}

.tm-home-box-2-description{
  float: left;
}

#hotelCarTabs {
	border-bottom: none;
	height: auto;
}

.drinkMainBox {
	padding: 2%;
	background-color: #f9f9f9;
}

.singleDrink {

	padding: 0.1%;
}

.singleDrink p{
	padding: 4%;
	text-align: left;
}

.singleDrink .center, .singleDrink h3{
	text-align: center;
}
}
.firstRow {
	padding-top: 2%;
  padding-bottom: 2%;
}
.secondRow {
	padding-top: 3%;
}
@media screen and (max-width: 800px) {
	#loginPara {
		float: left;
	}
}
.ingredients {
    display: inline;
}
.ingredients span {
    padding-right: 1%;
}
.acceptation {
	text-align: center;
	padding-top: 20%;
}
.navbar-right {
  padding-right: 1%;
}
.page-margin-bottom {
  padding-bottom: 5%;
}
.panel > .panel-heading {
    background-image: none;
    background-color: #F9E58B;
}
